analise_desmatamento_cerrado/
cobol_data_analysis/
crud-django/
demopico/
flyweight/
lousa-cv/
lousa-magica/
null_object_patterner/
portifolio/
todolist-front/
VulnerableApp/
weather_station/
xadrez/xadrez/
